@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-titillium-web: "Titillium Web";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-base: 15px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 25px;
  --font-size-3xl: 30px;
  --font-size-4xl: 45px;

  /* Colors */
  --color-white: #fff;
  --color-red-100: #fd3f08;
  --color-black: #000;
  --color-pink: #f6cabd;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #1e1e1e;
  --color-gray-300: rgba(0, 0, 0, 0.16);
  --color-gray-400: rgba(0, 0, 0, 0.39);
  --color-gray-500: rgba(0, 0, 0, 0.5);
  --color-gray-600: rgba(196, 196, 196, 0.4);

  /* Gaps */
  --gap-sm: 13px;
  --gap-md: 15px;

  /* Paddings */
  --padding-sm: 3px;
  --padding-md: 15px;
  --padding-lg: 16px;

  /* border radiuses */
  --br-2xs: 1px;
  --br-xs: 15px;
  --br-sm: 20px;
  --br-md: 30px;
  --br-lg: 35px;
  --br-xl: 50px;
  --br-2xl: 100px;
}
